@import url('https://fonts.googleapis.com/css?family=Open+Sans');
h1 {

	font-size: 34px !important;
	font-weight: 700 !important;
	font-family: 'Open Sans', sans-serif; !important;

}


h2 {

	font-size: 29px !important;
	font-weight: 700 !important;
	font-family: 'Open Sans', sans-serif; !important;
	padding-bottom: 10px !important;
}


h3 {

	font-size: 22px !important;
	font-weight: 700 !important;
	font-family: 'Open Sans', sans-serif;

}


h4 {

	font-size: 19px !important;
	font-weight: 700 !important;
font-family: 'Open Sans', sans-serif;
}



h5 {

	font-size: 17px !important;
	font-weight: 700 !important;
font-family: 'Open Sans', sans-serif;
}


body, header, nav#wb-bc {


	background-color: white !important;
	font-family: 'Open Sans', sans-serif;

	}




@media screen and (max-width: 991px) {

h1 {
		font-size: 30px !important;

	}

}


/* MM stuff */

.mobile-breadcrumb {
	background: #f3f3f3;
}

@media screen and (max-width: 737px) {
#wb-bc li:before {
		color: #333;
		content: "<"!important;
		font-family: "Glyphicons Halflings";
		font-size: 1.5em;
}
}
@media screen and (min-width: 737px) {
.no-break-breadcrumb {
	display: inline-block!important;
}
}
#wb-sm-new .menu {
display: table;
margin-bottom: 0;
width: 100%; }
#wb-sm-new .menu .active,
#wb-sm-new .menu .selected,
#wb-sm-new .menu > li {
	display: table-cell;
	float: none; }
#wb-sm-new .sm.open li {
background: #e0e0e0;
border-bottom: 2px solid RGB(255, 255, 255); }
}
#wb-sm .sm.open li a,
#wb-sm .sm.open li summary {
	padding: 2px 5px;
	text-shadow: none; }


/* On this page, reducing size as an h2*/
.smh3 {

	font-size: 22px !important;
	font-weight: 700 !important;
	margin-bottom: 0px !important;

}

ul.menu li {

	font-size: 16px !important;
	line-height: 22px !important;
}

p, ul, li {


	font-size: 19px !important;
	font-family: 'Open Sans', sans-serif; !important;
      font-weight: 400 !important;
      -webkit-font-smoothing:antialiased;

	 line-height: 27px !important;


}

td {

	font-size: 14px !important;
	font-family: 'Open Sans', sans-serif; !important;

}

caption, th {

	font-size: 17px !important;
	font-family: 'Open Sans', sans-serif; !important;

}

/* controls bullet spacing */

.bullet {

	padding-top: 3px !important;
	padding-bottom: 3px !important;

}

/* font size in li of breadcrumb */

.cust-breadcrumb {

	font-size: 15px !important;

}


/* removing padding that pushes content down a lot */
.breadcrumb {

	margin-bottom: -10px !important;
	padding-top: 2px !important;
}




.list-group-item {


background-color: #F8F8F8;

	}

/* menu items */

.cust-small   {

	margin-top: -3px !important;
	font-size: 16px !important;



}

/* for the active menu item color */

.cust-active   {

	background-color: #4d4d4d !important;
	border-color: #8f8f8f  !important;

}

.ch5 {

	font-size: 18px !important;

}

.container {
  /*margin-top: 30px;*/
}

.btn-clear {
	background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #3f4a64;
  font-size: 12px;
  background: #f2f3f5;
  padding: 2px 2px 2px 2px;
  border: solid #dedde2 1px;
  text-decoration: none;
}

.btn-clear:hover {
  text-decoration: none;
}

.flex-container {
  margin: 0px;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
	display:block;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap li {
  color: white;
}

.wrap-reverse         {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.wrap-reverse li {
  background: deepskyblue;
}

.flex-item {
  background: tomato;
  width: 100px;
  height: 100px;
  margin: 10px;

  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
